.flexible_content {
  width: $small-width;
  margin: $triple auto;
  @media (min-width: $breakpoint-medium) {
    width: $large-width;
    margin: $quintuple auto;
  }

  &__intro {
    @media (min-width: $breakpoint-medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: $mobileTitle;
      line-height: 2rem;
      margin-bottom: $basic;
      @media (min-width: $breakpoint-medium) {
        font-size: $title;
        margin-bottom: 0;
      }
    }

    &__link {
      color: $blue;
      font-size: $content;
      @media (min-width: $breakpoint-medium) {
        font-size: $core;
      }
    }
  }

  &__content_container {
    margin-top: $double;
    @media (min-width: $breakpoint-medium) {
      margin-top: $quadruple;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      margin-bottom: $double;
      @media (min-width: $breakpoint-medium) {
        width: 92%;
        margin-right: $basic;
      }
      &__text {
        font-size: $content;
        line-height: 1.2rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 2em 0 2em 0;

    }
  }
}
