.home {
  &__intro {
    height: 95vh;
    @media (min-width: $breakpoint-medium) {
      height: 85vh;
    }

    &__content {
      text-align: center;
      transform-origin: center;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50vh;
      left: 50vw;

      &__title {
        color: $white;
        font-size: $bigTitle;
      }

      &__links__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: $double;
        @media (min-width: $breakpoint-medium) {
          flex-direction: row;
        }

        &__item {
          margin-top: $triple;
        }
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .actualities {
    width: $small-width;
    margin: $triple auto;
    @media (min-width: $breakpoint-medium) {
      width: $large-width;
      margin: $quintuple auto;
    }

    &__intro {
      @media (min-width: $breakpoint-medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__title {
        font-size: $mobileTitle;
        line-height: 2rem;
        margin-bottom: $basic;
        @media (min-width: $breakpoint-medium) {
          font-size: $title;
          margin-bottom: 0;
        }
      }

      &__link {
        color: $blue;
        font-size: $content;
        @media (min-width: $breakpoint-medium) {
          font-size: $core;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: $basic;
      margin-top: $double;
      @media (min-width: $breakpoint-medium) {
        margin-top: $quadruple;
        flex-direction: row;
        justify-content: space-between;
      }

      &__item {
        position: relative;

        a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        &__article {
          img {
            width: 100%;
            height: 100%;
            border-radius: 1.5em 0 1.5em 0;
          }

          &__title {
            text-align: center;
            margin-top: $small;
            font-size: $core;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
